@model List<ComplaintListViewModel>

<div class="card-body">
    <div class="customSearch">
    <label for="complaintTypeFilter">Filter by Complaint Type:</label>
    <select id="complaintTypeFilter" class="form-select" style="margin-right:12px; width: 200px; display: inline-block; margin-bottom: 10px;">
        <option value="">All</option>
        <option value="administrative">Administrative</option>
        <option value="technical">Technical</option>
        <option value="other">Other</option>
    </select>
    <label for="statusFilter">Filter by Status:</label>
    <select id="statusFilter" class="form-select" style="width: 200px; display: inline-block;">
        <option value="">All</option>
        <option value="1">Pending</option>
        <option value="3">In Progress</option>
        <option value="4">Resolved</option>
        <option value="5">Closed</option>
        <option value="6">Rejected</option>
        <option value="1002">ReOpen</option>
    </select>
    </div>
    <div class="table-responsive">
       

        <table class="table-history table-bordered" id="myTable" width="100%" cellspacing="0">

            <thead>
                <tr>
                    <th>Title</th>
                    <th>Complaint Type</th>
                    <th>Submitted By</th>
                    <th>Status</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var complaint in Model)
                {

                    var status = complaint.Status?.ToLower();
                    string textClass = status switch
                    {
                        "pending" => "text-warning",
                        "in progress" => "text-primary",
                        "resolved" => "text-success",
                        "closed" => "text-secondary",
                        "rejected" => "text-danger",
                        "reopen" => "text-info",
                        _ => "text-muted"
                    };
                    <tr>
                        <td>
                            <a href="@Url.Action("ComplaintDetails", "Complaints" , new { id=complaint.Id })">
                                @complaint.Title
                            </a>
                        </td>
                        <td>@complaint.ComplaintType</td>
                        <td>@complaint.Username</td>
                        <td class="@textClass" data-statusid="@complaint.StatusId">@complaint.Status</td>
                        <td>@complaint.CreatedDate.ToString("dd-MM-yyyy")</td>
                    </tr>
                }


            </tbody>

        </table>
    </div>
</div>
