@model List<ComplaintListViewModel>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Complaint Type</th>
                    <th>Submitted By</th>
                    <th>Status</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var complaint in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("ComplaintDetails", "Complaints", new { id = complaint.Id })">
                                @complaint.Title
                            </a>
                        </td>
                        <td>@complaint.ComplaintType</td>
                        <td>@complaint.Username</td>
                        <td>@complaint.Status</td>
                        <td>@complaint.CreatedDate.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
