@model List<cms_project.Models.Entites.UserAccount>

<div class="container">
    <h2>Manage Complaint Type</h2>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Manage Complaint Type</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Complaint Type</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.Name</td>
                                <td>@user.Email</td>
                                <td>@user.Role.Name</td>
                                <td>@(user.ComplaintType?.Name ?? "No Type Assigned")</td>
                                 <td>
                                    <a href="@Url.Action("EditComplaintType", "MangementAdmin", new { id = user.Id })" class="btn btn-warning">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
